.fullSize {
        width: 100%;
        height: 100vh;
}

.elementsInCenter {
        display: flex;
        justify-content: center;
        align-items: center;
}

.selectPatient {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        border-radius: 36px;
        padding: 18px;
}

.selectPatient img {
        width: 250px;
}

.sidebar {
        width: 250px;
        background-color: #0a4e5c;
        color: #ecf0f1;
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        overflow-y: hidden;
        justify-content: center;
        align-items: flex-start;
}

.sidebar img {
        width: 100px;
}

.btn-newChat {
        width: 100%;
        background-color: #ecf0f1 !important;
        color: #0a4e5c !important;
        transition: all 0.5s;
}

.btn-newChat:hover {
        transform: scale(1.05);
}

.chat-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
}

.chat-output {
        height: 85%;
        width: 100%;
        overflow-y: auto;
}

.chat-input {
        box-sizing: border-box;
        width: 100%;
        height: 13%;
        padding: 0px 16px;
        display: flex;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

.chat-input img {
        width: 24px;
        transition: all 0.1s;
}
.chat-input .confirm-btn:hover img {
        transform: scale(1.1);
}

.server-container {
        display: flex;
        justify-content: flex-start;
}

.server-message {
    max-width: 80%;
    margin: 5px 10px;
    padding: 16px;
    background-color: #cfeff2;
    border-radius: 16px;
    color: #105459;
}

.client-container {
        display: flex;
        justify-content: flex-end;
}

.client-message {
    max-width: 80%;
    margin: 5px 10px;
    padding: 16px;
    background-color: #0a4e5c;
    border-radius: 16px;
    color: #fff;
}

h2 {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 32px;
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.loading {
        background-color: #cfeff2;
        border-radius: 100%;
        padding: 10px;
        position: absolute;
        left: 60%;
        bottom: 50%;
        width: 80px;
        height: 80px;
        animation: 
        slideUp 1s ease-out forwards,
        pulse 1s ease-in-out infinite;
}

.confirm-btn {
        height: 56px !important;
        color: #105459 !important;
        border-color: #105459 !important;
}